{% extends "drilltech.html" %}
{% block calculations %}


<h3 class="text-center pressure">Calculating the D-Exponent</h3>
<div class="row">

<div class="col-sm-8">
<form class="form-inline form-label " action="/drilltech/d-exponent-calc" method="POST">
    <div class="form-group">
        <label for="rate_of_penetration">Rate of Pen.(ft/hr)</label>
        <input type="number"  id="rate_of_penetration" name="rate_of_penetration" class="form-control mx-sm-3" placeholder="60">
    </div>
    <div class="form-group">  
        <label for="rotary_speed">Rotary Speed(rpm)</label>
        <input type="number" id="rotary_speed" name="rotary_speed" class="form-control mx-sm-3" placeholder="100">
    </div>
    
    <div class="form-group">  
        <label for="bit_weight">Weight of Bit(klb)</label>
        <input type="number" id="bit_weight" name="bit_weight" class="form-control mx-sm-3" placeholder="25">

    </div>

    <div class="form-group">  
        <label for="bit_diameter">Bit Diameter(in.)</label>
        <input type="number" step ="0.1" id="bit_diameter" name="bit_diameter" class="form-control mx-sm-3" placeholder="8.5">

    </div>

    
    <div class="calc-ecd">
        <button type="submit" class="button">Calculate D-Exponent</button>
    </div>
</form>
</div>
      {% if request.args.get('d_exponent')%}
        <div class="col-sm-4">
          <h1>Results:</h1>
          <p>D-Exponent: {{ request.args.get('d_exponent') }}</p>       
          </div>
        </div>
      {% endif %}

      {% if data.count() >= 1 %}
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">S/no.</th>
            <th scope="col">Rate of Penetration</th>
            <th scope="col">Rotary Drilling Speed</th>
            <th scope="col">Weight of Bit</th>
            <th scope="col">Bit Diameter</th>
            <th scope="col">D-Exponent</th>

          </tr>
      </thead>
      <tbody>
      
        {% for rw in data %}
      
        
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{rw['rate_of_penetration']}}</td>
            <td>{{rw['rotary_speed']}}</td>
            <td>{{rw['bit_weight']}}</td>
            <td>{{rw['bit_diameter']}}</td>
            <td>{{rw['d_exponent']}}</td>
           
          </tr>
       
       
      {% endfor %}
    </tbody>
    </table>

      {% endif %}

  {% endblock %}