{% extends "base.html" %}
{% block title %}Drill Tech Calculations{% endblock %}
{% block content %}
<div class="dropdown drilltech">
  
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Drill Tech. Calculation
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/drilltech/ecd">ecd calculation</a>
      <a class="dropdown-item" href="/drilltech/mud">Mud Weight Design</a>
      <a class="dropdown-item" href="/drilltech/leak_off">Leak-off Test</a>
      <a class="dropdown-item" href="/drilltech/d-exponent">The d-exponent</a>
      <a class="dropdown-item" href="/drilltech/rheo">Rheological Properties</a>
      <a class="dropdown-item" href="/drilltech/drill-collar">Length of Drill Collar</a>

    </div>

    
</div>
<div class="calc ">
    {% block calculations %}{% endblock %}
</div>


{% endblock %}