{% extends "base.html" %}
{% block title %}Drill Tech Calculations{% endblock %}
{% set active_page = "drillinfo" %}

{% block content %}
    <div class="col-md-12 drillinfo">
        <div class="row">
            <div class="col-md-12 text-center powergen">
                <h2>
                    Power Generation Systems
                </h2>
                <p>
                    Drilling rigs often have to operate in remote locations and must therefore be capable of generating
                    Its own power. Large internal combustion engines powered by diesels are used to generate
                    Electrical power to operate the rigs. The main devices for hoisting and circulating are
                    Power usage on the rig.
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/PowerGenerationSystem.PNG')}}" align="middle" />
            </div>
            </div>
            <div class="col-md-12 text-center powergen">
                <h2>
                    Hoisting System
                </h2>
                <p>
                    Mechanism to hoist on a drilling rig. The hoist system is an extensive pole system
                    Used for running and pulling the drilling equipment into and out of the well.
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/hoist1.PNG')}}" align="middle" />
            </div>
            <p>
                <h5>Hoisting Systems Components:</h5>

                <ul class="list-group">
                    <li class="list-group-item">Mast or Derrick</li>
                    <li class="list-group-item">Draw works</li>
                    <li class="list-group-item">Traveling Block</li>
                    <li class="list-group-item">Crown Block</li>
                    <li class="list-group-item">Supply Reel</li>
                    <li class="list-group-item">Drilling Line</li>

                  </ul>
            </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/hoist2.PNG')}}" align="middle" />
            </div>
            </div>

            <div class="col-md-12 text-center powergen">
                <h2>
                    Well Control System
                </h2>
                <p>
                    Mechanical instruments, such as mud flow metres or pit level indicators, should
                    Alarm activate and alert the members of the rigs to the influx
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/wellControl.PNG')}}" align="middle" />
            </div>
            </div>

            
            <div class="col-md-12 text-center powergen">
                <h2>
                    Drill Pipe
                </h2>
                <p>
                    The heavy tubing used to spin the bit and the drilling fluid circulates.
                    The pipe is about 30 feet long.
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/drillPipe.PNG')}}" align="middle" />
            </div>
            </div>

            
            <div class="col-md-12 text-center powergen">
                <h2>
                    Organisational Structure in a Rig Company
                </h2>
                <p>
                    The diagram bellow shows the infrastructure of a rig staff.From the drilling superintendent to the
                    helpers.
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/structureOfStaffRig.PNG')}}" align="middle" />
            </div>
            </div>

            <div class="col-md-12 text-center powergen">
                <h2>
                    Types of pumps are:
                </h2>
                <p>
                    Slurry pump, Submersible sullury pump, Horizontal pump, Water pump,Centrifugal pump
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/typeOfPumps.PNG')}}" align="middle" />
            </div>
            </div>

            <div class="col-md-12 text-center powergen">
                <h2>
                    Safety clamp
                </h2>
                <p>
                    These are used on tubulars ,the slips is for avoiding the string to drop.
                    
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/safetyClap.PNG')}}" align="middle" />
            </div>
            </div>

            <div class="col-md-12 text-center powergen">
                <h2>
                    Types of drill bits
                </h2>
                
                <div id="powergen">
                    <img src="{{url_for('static', filename='img/rollerCone.PNG')}}" align="middle" />
                </div>
                <p>
                    Roller Cone
                    
                </p>

                
                <div id="powergen">
                    <img src="{{url_for('static', filename='img/fixedCutter.PNG')}}" align="middle" />
                </div>
                <p>
                    Fixed Cutter
                    
                </p>
            </div>

            <div class="col-md-12 text-center powergen">
                <h2>
                    Drill Tools
                </h2>
                <p>
                    Main elements of drilling tools:
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/drillTools.PNG')}}" align="middle" />
            </div>
            </div>




            <div class="col-md-12 text-center powergen">
                <h2>
                    Down hole drilling tools
                </h2>
                <p>
                    <span>
                    Installation and evaluation of the stabilisers
                    is the fundamental approach to lateral control
                    and very BHA behaviour.<br>
                </p>
            <div id="powergen">
                <img src="{{url_for('static', filename='img/downHoleDrill.PNG')}}" align="middle" />
            </div>
            <h4>Primary functions:</h4>
                    Helps stabilisers to control the weight
                    BHA on that drill bit.<br>

                    Ream doglegs and primary seat down.<br>

                    They minimise vibrations and bends<br>

                    Causes tool joint wear and BHA damages
            </div>


            

        </div>
    </div>
{% endblock %}