{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="col-md-6 p-lg-6 mx-auto my-6 head-section">
    <h4 class="display-6 font-weight-normal text-center">Drilling technology and tool life with the possibilities to optimize drill bit design.</h4>
    <p class="lead font-weight-normal">
        The sole objective for drill bit optimization is to reduce overall operating cost of drilling to
        the barest minimum. An IT approach to realizing this process is the objective of this
        project. A software system was implemented putting major operating parameters of
        drilling into consideration targeted at aiding users in predicting and planning drill process
        effectively. The Virtual Driller is a myriad of software languages and codes are used to
        achieve this. <br> Recent researches show that the ROP optimization leads to the cost reduction,
        together with elimination of hole problems. A review of literature reveals that drilling
        optimization should be based on the accumulated and statistically processed empirical data
        rather than working with implicit relations. All drilling parameters effecting ROP are not
        fully comprehended and there are difficulties to gather them in one model. However, this
        project tries to combine other important factors in implementing the design. The website
        collects input, processes it and gives graphical outputs that are easy to understand and
        interpret.
    </p>
</div>

{% endblock %}