{% extends "drilltech.html" %}
{% block calculations %}


<h3 class="text-center pressure">Calculating the Length of Drill Collar</h3>
<div class="row">

<div class="col-sm-8">
<form class="form-inline form-label " action="/drilltech/rheo-calc" method="POST">
    
    <div class="form-group">  
        <label for="rpm600">rpm600</label>
        <input type="number" id="rpm600" name="rpm600" class="form-control mx-sm-3" placeholder="80">

    </div>

    <div class="form-group">  
        <label for="rpm300">rpm300</label>
        <input type="number" id="rpm300" name="rpm300" class="form-control mx-sm-3" placeholder="50">

    </div>

    
    <div class="calc-rheo">
        <button type="submit" id="calc-rheo" class="button">Calculate Rheological Properties</button>
    </div>
</form>
</div>
      {% if request.args.get('yeild_point')%}
        <div class="col-sm-4">
          <h1>Results:</h1>
          <p>Yield Point: {{ request.args.get('yeild_point') }}</p>    
          <p>Plactic Viscosity: {{ request.args.get('plastic_viscosity') }}</p>       
          </div>
        </div>
      {% endif %}

      {% if data.count() >= 1 %}
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">S/no.</th>
            <th scope="col">rpm600</th>
            <th scope="col"> rpm300</th>
            <th scope="col">Plastic Viscosity</th>
            <th scope="col">Yeild Point</th>

          </tr>
      </thead>
      <tbody>
    
        {% for rw in data %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{rw['rpm600']}}</td>
            <td>{{rw['rpm300']}}</td>
            <td>{{rw['plastic_viscosity']}}</td>
            <td>{{rw['yeild_point']}}</td>
          </tr>
       
       
      {% endfor %}
    </tbody>
    </table>

      {% endif %}

  {% endblock %}